<div class="display-container">
  <div class="display">
    <div>
      <img class="graph" *ngIf="graphBuffer.length" [src]="graphBuffer[currentGraph]"/>
      <mat-spinner color="accent" *ngIf="!graphBuffer.length"></mat-spinner>
    </div>
  </div>
  <div class="control-panel">
    <mat-card class="control-card">
      <mat-card-content class="button-row">
        <button mat-icon-button color="accent" [disabled]="firstGraphIsShown" (click)="previousGraph()" title="Takt zurück">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button mat-stroked-button color="accent" title="Aktueller Takt">{{currentGraph}}</button>
        <button mat-icon-button color="warn" (click)="nextGraph()" title="Takt ausführen">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
        <button mat-stroked-button color="primary">Bild speichern</button>
        <button mat-stroked-button color="primary" [matMenuTriggerFor]="configMenu">CSV laden</button>
        <button mat-stroked-button color="primary">Surprise</button>
        <button mat-stroked-button color="warn" (click)="resetDiagram()">Reset</button>

        <mat-menu #configMenu="matMenu" yPosition="above">
          <button mat-menu-item *ngFor="let config of configList" (click)="updateConfiguration(config)">
            {{ config }}
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="updateConfigList()">Update</button>
        </mat-menu>
      </mat-card-content>
    </mat-card>
  </div>
</div>

