<div class="display-container">
  <img class="graph" [src]="graph_buffer[0]" alt="Sie können eine csv-Datei unten auswählen..."/>
  <mat-card class="example-card">
    <mat-card-content>
      <mat-card-actions align="end">
        <button mat-button>Vorheriges Bild</button>
        <button mat-button (click)="extendGraphBuffer()">Nächstes Bild</button>
        <button mat-button>Bild speichern</button>
        <button mat-button>CSV Laden</button>
        <button mat-button>Surprise</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>

